* {
    
    font-family: Verdana;
    padding: 0px;
    margin: 0px;
    
}

a {
    
    text-decoration: none;
    
}

@background_color: aqua;
@border_color: red;
@factor: 2;
@div_width: 400px;
@auto_value = auto;
@pass_through = true;

@factor1: 1.25;
@factor2: 1.5;

@background_color1: red;
@background_color2: yellow;



//Dit is een geparametriseerde mixin met guard.
#lessIntro(@factor, @background_color, @div_width: 400px, @auto_value: auto, @pass_through: false) when ((@factor > 1) and (@auto_value = auto)), (@pass_through = true) {
    
    border: @factor * 1em solid lighten(@border_color, 25%);
    width: @factor * @div_width;
    padding: @factor * 1em;
    background-color: darken(@background_color, 10%);
    color: lighten(dimgray, 20%);
    margin: 3em @auto_value;
    font-size: @factor * 1.5em;
    border-radius: @factor * 1.5em;
    
}

#div1 {
    
    #lessIntro(@factor1, @background_color1, 100px, 100px, true);
    
}

#div2 {
    
    #lessIntro(@factor2, @background_color2, 300px);
    
}


@border: 3px solid;
@margin: 2em;
@border_collapse: collapse;
@padding: 1em;

#tbl_default(@border, @margin, @color, @padding, @border_collapse: collapse) {
    
    margin: 15px auto;
    border-collapse: @border_collapse;
    
    td {
        
        border: @border lighten(@color, 40%);
        margin: @margin;
        padding: @padding;
        font-weight: 800;
        
    }
    
    th {
        
        border: @border @color;
        margin: @margin;
        padding: @padding;
        background-color: darken(@color, 25%);
        color: lighten(@color, -75%);
        
    }
    
    tr {
        
        &:nth-child(2n) {
        
            background-color: lighten(@color, 40%);
            
        }
        
        &:nth-child(2n + 1) {
            
            background-color: lighten(@color, 30%);
            
        }
        
    }
    
}


#tbl1 {
    
    #tbl_default(3px solid, 2em, red, 1em, collapse);
    
}

#tbl2 {
    
    
    #tbl_default(3px solid, 2em, blue, 1em, collapse);
}
